### Scrape data from HTML tables into a DataFrame using BeautifulSoup and Pandas

In [2]:
!pip3 install pandas
!pip3 install beautifulsoup4
!pip3 install html5lib==1.1

Requirement already satisfied: pandas in /Users/netvyne/anaconda3/lib/python3.11/site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/netvyne/anaconda3/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/netvyne/anaconda3/lib/python3.11/site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in /Users/netvyne/anaconda3/lib/python3.11/site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in /Users/netvyne/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Requirement already satisfied: beautifulsoup4 in /Users/netvyne/anaconda3/lib/python3.11/site-packages (4.12.2)
Requirement already satisfied: soupsieve>1.2 in /Users/netvyne/anaconda3/lib/python3.11/site-packages (from beautifulsoup4) (2.4)
Collecting html5lib==1.1
  Using cached html5lib-1.1-py2.py3-none-any.whl (112 kB)
Requirement already satisfied: six>=1.9 in /Users/netvyne/anaconda3/lib/python3.11/site-packages (from html5lib==1.1) (1.16.0)
Requirement already satisfied: webencodings in /Users/netvyne/anaconda3/lib/python3.11/site-packages (from html5lib==1.1) (0.5.1)
Installing collected packages: html5lib
Successfully installed html5lib-1.1
Requirement already satisfied: pandas in /Users/netvyne/anaconda3/lib/python3.11/site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/netvyne/anaconda3/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/netvyne/anaconda3/lib/python3.11/site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in /Users/netvyne/anaconda3/lib/python3.11/site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in /Users/netvyne/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Requirement already satisfied: beautifulsoup4 in /Users/netvyne/anaconda3/lib/python3.11/site-packages (4.12.2)
Requirement already satisfied: soupsieve>1.2 in /Users/netvyne/anaconda3/lib/python3.11/site-packages (from beautifulsoup4) (2.4)
Requirement already satisfied: html5lib==1.1 in /Users/netvyne/anaconda3/lib/python3.11/site-packages (1.1)
Requirement already satisfied: six>=1.9 in /Users/netvyne/anaconda3/lib/python3.11/site-packages (from html5lib==1.1) (1.16.0)
Requirement already satisfied: webencodings in /Users/netvyne/anaconda3/lib/python3.11/site-packages (from html5lib==1.1) (0.5.1)

In [9]:
import pandas as pd
import requests
from bs4 import  BeautifulSoup

In [10]:
#The below url contains html tables with data about world population.
url = 'https://en.wikipedia.org/wiki/World_population'

In [6]:
# get the contents of the webpage in text format and store in a variable called data
data = requests.get(url).text

In [12]:
soup = BeautifulSoup(data, 'html5lib')

In [13]:
# find all html tables in web page
tables = soup.find_all('table') # in html table is represented by the tag <table>

In [15]:
# we can see how many tables were found by checking the length of the tables list
len(tables)

29

In [16]:
for index, table in enumerate(tables):
    if('10 most densely populated countries' in str(table)):
        table_index = index
print(table_index)

7

In [17]:
print(tables[table_index].prettify())

<table class="wikitable sortable" style="text-align:right">
 <caption>
  10 most densely populated countries
  <small>
   (with population above 5 million)
  </small>
  <sup class="reference" id="cite_ref-:10_106-0">
   <a href="#cite_note-:10-106">
    [102]
   </a>
  </sup>
 </caption>
 <tbody>
  <tr>
   <th scope="col">
    Rank
   </th>
   <th scope="col">
    Country
   </th>
   <th scope="col">
    Population
   </th>
   <th scope="col">
    Area
    <br/>
    <small>
     (km
     <sup>
      2
     </sup>
     )
    </small>
   </th>
   <th scope="col">
    Density
    <br/>
    <small>
     (pop/km
     <sup>
      2
     </sup>
     )
    </small>
   </th>
  </tr>
  <tr>
   <td>
    1
   </td>
   <td align="left">
    <span class="flagicon">
     <span class="mw-image-border" typeof="mw:File">
      <span>
       <img alt="" class="mw-file-element" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/4/48/Flag_of_Singapore.svg/23px-Flag_of_Singapore.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/4/48/Flag_of_Singapore.svg/35px-Flag_of_Singapore.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/4/48/Flag_of_Singapore.svg/45px-Flag_of_Singapore.svg.png 2x" width="23"/>
      </span>
     </span>
    </span>
    <a href="/wiki/Singapore" title="Singapore">
     Singapore
    </a>
   </td>
   <td>
    5,921,231
   </td>
   <td>
    719
   </td>
   <td>
    8,235
   </td>
  </tr>
  <tr>
   <td>
    2
   </td>
   <td align="left">
    <span class="flagicon">
     <span class="mw-image-border" typeof="mw:File">
      <span>
       <img alt="" class="mw-file-element" data-file-height="600" data-file-width="1000" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Flag_of_Bangladesh.svg/23px-Flag_of_Bangladesh.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Flag_of_Bangladesh.svg/35px-Flag_of_Bangladesh.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Flag_of_Bangladesh.svg/46px-Flag_of_Bangladesh.svg.png 2x" width="23"/>
      </span>
     </span>
    </span>
    <a href="/wiki/Bangladesh" title="Bangladesh">
     Bangladesh
    </a>
   </td>
   <td>
    165,650,475
   </td>
   <td>
    148,460
   </td>
   <td>
    1,116
   </td>
  </tr>
  <tr>
   <td>
    3
   </td>
   <td align="left">
    <p>
     <span class="flagicon">
      <span class="mw-image-border" typeof="mw:File">
       <span>
        <img alt="" class="mw-file-element" data-file-height="600" data-file-width="1200" decoding="async" height="12" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/00/Flag_of_Palestine.svg/23px-Flag_of_Palestine.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/0/00/Flag_of_Palestine.svg/35px-Flag_of_Palestine.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/0/00/Flag_of_Palestine.svg/46px-Flag_of_Palestine.svg.png 2x" width="23"/>
       </span>
      </span>
     </span>
     <a href="/wiki/State_of_Palestine" title="State of Palestine">
      Palestine
     </a>
     <sup class="reference" id="cite_ref-107">
      <a href="#cite_note-107">
       [103]
      </a>
     </sup>
    </p>
   </td>
   <td>
    5,223,000
   </td>
   <td>
    6,025
   </td>
   <td>
    867
   </td>
  </tr>
  <tr>
   <td>
    4
   </td>
   <td align="left">
    <span class="flagicon">
     <span class="mw-image-border" typeof="mw:File">
      <span>
       <img alt="" class="mw-file-element" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/7/72/Flag_of_the_Republic_of_China.svg/23px-Flag_of_the_Republic_of_China.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/7/72/Flag_of_the_Republic_of_China.svg/35px-Flag_of_the_Republic_of_China.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/7/72/Flag_of_the_Republic_of_China.svg/45px-Flag_of_the_Republic_of_China.svg.png 2x" width="23"/>
      </span>
     </span>
    </span>
    <a href="/wiki/Taiwan" title="Taiwan">
     Taiwan
    </a>
   </td>
   <td>
    23,580,712
   </td>
   <td>
    35,980
   </td>
   <td>
    655
   </td>
  </tr>
  <tr>
   <td>
    5
   </td>
   <td align="left">
    <span class="flagicon">
     <span class="mw-image-border" typeof="mw:File">
      <span>
       <img alt="" class="mw-file-element" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/23px-Flag_of_South_Korea.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/35px-Flag_of_South_Korea.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/45px-Flag_of_South_Korea.svg.png 2x" width="23"/>
      </span>
     </span>
    </span>
    <a href="/wiki/South_Korea" title="South Korea">
     South Korea
    </a>
   </td>
   <td>
    51,844,834
   </td>
   <td>
    99,720
   </td>
   <td>
    520
   </td>
  </tr>
  <tr>
   <td>
    6
   </td>
   <td align="left">
    <span class="flagicon">
     <span class="mw-image-border" typeof="mw:File">
      <span>
       <img alt="" class="mw-file-element" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/59/Flag_of_Lebanon.svg/23px-Flag_of_Lebanon.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/59/Flag_of_Lebanon.svg/35px-Flag_of_Lebanon.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/5/59/Flag_of_Lebanon.svg/45px-Flag_of_Lebanon.svg.png 2x" width="23"/>
      </span>
     </span>
    </span>
    <a href="/wiki/Lebanon" title="Lebanon">
     Lebanon
    </a>
   </td>
   <td>
    5,296,814
   </td>
   <td>
    10,400
   </td>
   <td>
    509
   </td>
  </tr>
  <tr>
   <td>
    7
   </td>
   <td align="left">
    <span class="flagicon">
     <span class="mw-image-border" typeof="mw:File">
      <span>
       <img alt="" class="mw-file-element" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/1/17/Flag_of_Rwanda.svg/23px-Flag_of_Rwanda.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/1/17/Flag_of_Rwanda.svg/35px-Flag_of_Rwanda.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/1/17/Flag_of_Rwanda.svg/45px-Flag_of_Rwanda.svg.png 2x" width="23"/>
      </span>
     </span>
    </span>
    <a href="/wiki/Rwanda" title="Rwanda">
     Rwanda
    </a>
   </td>
   <td>
    13,173,730
   </td>
   <td>
    26,338
   </td>
   <td>
    500
   </td>
  </tr>
  <tr>
   <td>
    8
   </td>
   <td align="left">
    <span class="flagicon">
     <span class="mw-image-border" typeof="mw:File">
      <span>
       <img alt="" class="mw-file-element" data-file-height="600" data-file-width="1000" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/50/Flag_of_Burundi.svg/23px-Flag_of_Burundi.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/50/Flag_of_Burundi.svg/35px-Flag_of_Burundi.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/5/50/Flag_of_Burundi.svg/46px-Flag_of_Burundi.svg.png 2x" width="23"/>
      </span>
     </span>
    </span>
    <a href="/wiki/Burundi" title="Burundi">
     Burundi
    </a>
   </td>
   <td>
    12,696,478
   </td>
   <td>
    27,830
   </td>
   <td>
    456
   </td>
  </tr>
  <tr>
   <td>
    9
   </td>
   <td align="left">
    <span class="flagicon">
     <span class="mw-image-border" typeof="mw:File">
      <span>
       <img alt="" class="mw-file-element" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/23px-Flag_of_India.svg.png" srcset="//upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/35px-Flag_of_India.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/45px-Flag_of_India.svg.png 2x" width="23"/>
      </span>
     </span>
    </span>
    <a href="/wiki/India" title="India">
     India
    </a>
   </td>
   <td>
    1,389,637,446
   </td>
   <td>
    3,287,263
   </td>
   <td>
    423
   </td>
  </tr>
  <tr>
   <td>
    10
   </td>
   <td align="left">
    <span class="flagicon">
     <span class="mw-image-border" typeof="mw:File">
      <span>
       <img alt="" class="mw-file-element" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/2/20/Flag_of_the_Netherlands.svg/23px-Flag_of_the_Netherlands.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/2/20/Flag_of_the_Netherlands.svg/35px-Flag_of_the_Netherlands.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/2/20/Flag_of_the_Netherlands.svg/45px-Flag_of_the_Netherlands.svg.png 2x" width="23"/>
      </span>
     </span>
    </span>
    <a href="/wiki/Netherlands" title="Netherlands">
     Netherlands
    </a>
   </td>
   <td>
    17,400,824
   </td>
   <td>
    41,543
   </td>
   <td>
    419
   </td>
  </tr>
 </tbody>
</table>

In [21]:
population_data = pd.DataFrame(columns=['Rank', 'Country', 'Population', 'Area', 'Density'])
for row in tables[table_index].tbody.find_all('tr'):
    col = row.find_all('td')
    if col:
        rank = col[0].text
        country = col[1].text
        population = col[2].text.strip()
        area = col[3].text.strip()
        density = col[4].text.strip()
        row_data = pd.DataFrame({'Rank': [rank], 'Country': [country], 'Population': [population], 'Area': [area], 'Density': [density]})
        population_data = pd.concat([population_data, row_data], ignore_index=True)
population_data

  Rank                Country     Population       Area Density
0    1              Singapore      5,921,231        719   8,235
1    2             Bangladesh    165,650,475    148,460   1,116
2    3  \n Palestine[103]\n\n      5,223,000      6,025     867
3    4                 Taiwan     23,580,712     35,980     655
4    5            South Korea     51,844,834     99,720     520
5    6                Lebanon      5,296,814     10,400     509
6    7                 Rwanda     13,173,730     26,338     500
7    8                Burundi     12,696,478     27,830     456
8    9                  India  1,389,637,446  3,287,263     423
9   10            Netherlands     17,400,824     41,543     419

### Scrape data from HTML tables into a DataFrame using BeautifulSoup and read_html

In [22]:
pd.read_html(str(tables[5]), flavor='bs4')[0]

,#,Most populous countries,2000,2015,2030[A],Graphs are temporarily unavailable due to technical issues.
,Graphs are temporarily unavailable due to technical issues.,Unnamed: 1_level_1,Unnamed: 2_level_1,Unnamed: 3_level_1,Unnamed: 4_level_1,Unnamed: 5_level_1
,Graphs are temporarily unavailable due to technical issues.,Unnamed: 1_level_2,Unnamed: 2_level_2,Unnamed: 3_level_2,Unnamed: 4_level_2,Unnamed: 5_level_2
,Graphs are temporarily unavailable due to technical issues.,Unnamed: 1_level_3,Unnamed: 2_level_3,Unnamed: 3_level_3,Unnamed: 4_level_3,Unnamed: 5_level_3
,Graphs are temporarily unavailable due to technical issues.,Unnamed: 1_level_4,Unnamed: 2_level_4,Unnamed: 3_level_4,Unnamed: 4_level_4,Unnamed: 5_level_4
,Graphs are temporarily unavailable due to technical issues.,Unnamed: 1_level_5,Unnamed: 2_level_5,Unnamed: 3_level_5,Unnamed: 4_level_5,Unnamed: 5_level_5
,Graphs are temporarily unavailable due to technical issues.,Unnamed: 1_level_6,Unnamed: 2_level_6,Unnamed: 3_level_6,Unnamed: 4_level_6,Unnamed: 5_level_6
,Graphs are temporarily unavailable due to technical issues.,Unnamed: 1_level_7,Unnamed: 2_level_7,Unnamed: 3_level_7,Unnamed: 4_level_7,Unnamed: 5_level_7
,Graphs are temporarily unavailable due to technical issues.,Unnamed: 1_level_8,Unnamed: 2_level_8,Unnamed: 3_level_8,Unnamed: 4_level_8,Unnamed: 5_level_8
,Graphs are temporarily unavailable due to technical issues.,Unnamed: 1_level_9,Unnamed: 2_level_9,Unnamed: 3_level_9,Unnamed: 4_level_9,Unnamed: 5_level_9
,Graphs are temporarily unavailable due to technical issues.,Unnamed: 1_level_10,Unnamed: 2_level_10,Unnamed: 3_level_10,Unnamed: 4_level_10,Unnamed: 5_level_10
,Graphs are temporarily unavailable due to technical issues.,Unnamed: 1_level_11,Unnamed: 2_level_11,Unnamed: 3_level_11,Unnamed: 4_level_11,Unnamed: 5_level_11
0,NaN,Graphs are temporarily unavailable due to tech...,NaN,NaN,NaN,NaN
1,1,China[B],1270,1376,1416,NaN
2,2,India,1053,1311,1528,NaN
3,3,United States,283,322,356,NaN
4,4,Indonesia,212,258,295,NaN
5,5,Pakistan,136,208,245,NaN
6,6,Brazil,176,206,228,NaN
7,7,Nigeria,123,182,263,NaN
8,8,Bangladesh,131,161,186,NaN
9,9,Russia,146,146,149,NaN
10,10,Mexico,103,127,148,NaN
11,NaN,World total,6127,7349,8501,NaN
12,Notes: .mw-parser-output .reflist{font-size:90...,Notes: .mw-parser-output .reflist{font-size:90...,Notes: .mw-parser-output .reflist{font-size:90...,Notes: .mw-parser-output .reflist{font-size:90...,Notes: .mw-parser-output .reflist{font-size:90...,Notes: .mw-parser-output .reflist{font-size:90...

In [23]:
population_data_read_html = pd.read_html(str(tables[5]),flavor='bs4')[0]
population_data

  Rank                Country     Population       Area Density
0    1              Singapore      5,921,231        719   8,235
1    2             Bangladesh    165,650,475    148,460   1,116
2    3  \n Palestine[103]\n\n      5,223,000      6,025     867
3    4                 Taiwan     23,580,712     35,980     655
4    5            South Korea     51,844,834     99,720     520
5    6                Lebanon      5,296,814     10,400     509
6    7                 Rwanda     13,173,730     26,338     500
7    8                Burundi     12,696,478     27,830     456
8    9                  India  1,389,637,446  3,287,263     423
9   10            Netherlands     17,400,824     41,543     419

We can also use the match parameter to select the specific table we want. If the table contains a string matching the text it will be read.

In [24]:
pd.read_html(url,match='10 most densely populated countries', flavor='bs4')[0]

   Rank         Country  Population  Area (km2)  Density (pop/km2)
0     1       Singapore     5921231         719               8235
1     2      Bangladesh   165650475      148460               1116
2     3  Palestine[103]     5223000        6025                867
3     4          Taiwan    23580712       35980                655
4     5     South Korea    51844834       99720                520
5     6         Lebanon     5296814       10400                509
6     7          Rwanda    13173730       26338                500
7     8         Burundi    12696478       27830                456
8     9           India  1389637446     3287263                423
9    10     Netherlands    17400824       41543                419