In [1]:
!pip3 install beautifulsoup4
!pip3 install html5lib==1.1

Requirement already satisfied: beautifulsoup4 in /Users/netvyne/anaconda3/lib/python3.11/site-packages (4.12.2)
Requirement already satisfied: soupsieve>1.2 in /Users/netvyne/anaconda3/lib/python3.11/site-packages (from beautifulsoup4) (2.4)
Requirement already satisfied: html5lib==1.1 in /Users/netvyne/anaconda3/lib/python3.11/site-packages (1.1)
Requirement already satisfied: six>=1.9 in /Users/netvyne/anaconda3/lib/python3.11/site-packages (from html5lib==1.1) (1.16.0)
Requirement already satisfied: webencodings in /Users/netvyne/anaconda3/lib/python3.11/site-packages (from html5lib==1.1) (0.5.1)

In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

## Steps to be followed for extracting data
1. Send an HTTP request to the webpage using the requests library.
2. Parse the HTML content of the webpage using BeautifulSoup.
3. Identify the HTML tags that contain the data you want to extract.
4. Use BeautifulSoup methods to extract the data from the HTML tags.
5. Print the extracted data

## Step-1 Send an HTTP Request to the webpage

We are using Request library for sending an HTTP request to the webpage.

In [3]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/netflix_data_webpage.html"

In [ ]:
data = requests.get(url).text
print(data)

### Step:-2 Parse the HTML content

## How to parse the data using Beautiful soup library?
* Create a new Beautiful soup object.
<br>
<br>
<b>Note:- </b>To create a Beautiful Soup object in Python, you need to pass two arguments to its constructor:

1. The HTML or XML content that you want to parse as a string.
2. The name of the parser that you want to use to parse the HTML or XML content. This argument is optional, and if you don't specify a parser, Beautiful Soup will use the default HTML parser included with the library.
here in this lab we are using "html5lib" parser.

In [5]:
soup = BeautifulSoup(data, 'html5lib')

## Step-3 Identify the HTML tags

In [17]:
netflix_data = pd.DataFrame(['Date', 'Open', 'High', 'Low', 'Close', 'Volume'])

## Step-4 Use Beautiful soup method for extracting data

In [18]:
# Then we loop through each row and find all the column values for each row
for row in soup.find("tbody").find_all('tr'):
    col = row.find_all("td")
    date = col[0].text
    Open = col[1].text
    high = col[2].text
    low = col[3].text
    close = col[4].text
    adj_close = col[5].text
    volume = col[6].text
    row_data = pd.DataFrame({'Date': [date], 'Open': [Open], 'High': [high], 'Low': [low], 'Close': [close], 'Adj Close': [adj_close], 'Volume': [volume]})
    netflix_data = pd.concat([netflix_data, row_data], ignore_index=True)
netflix_data

        0          Date    Open    High     Low   Close Adj Close       Volume
0    Date           NaN     NaN     NaN     NaN     NaN       NaN          NaN
1    Open           NaN     NaN     NaN     NaN     NaN       NaN          NaN
2    High           NaN     NaN     NaN     NaN     NaN       NaN          NaN
3     Low           NaN     NaN     NaN     NaN     NaN       NaN          NaN
4   Close           NaN     NaN     NaN     NaN     NaN       NaN          NaN
..    ...           ...     ...     ...     ...     ...       ...          ...
71    NaN  Jan 01, 2016  109.00  122.18   90.11   91.84     91.84  488,193,200
72    NaN  Dec 01, 2015  124.47  133.27  113.85  114.38    114.38  319,939,200
73    NaN  Nov 01, 2015  109.20  126.60  101.86  123.33    123.33  320,321,800
74    NaN  Oct 01, 2015  102.91  115.83   96.26  108.38    108.38  446,204,400
75    NaN  Sep 01, 2015  109.35  111.24   93.55  103.26    103.26  497,401,200

[76 rows x 8 columns]

### Step-5 Print the Extracted Data

In [16]:
netflix_data.head()

       0 Date Open High  Low Close Adj Close Volume
0   Date  NaN  NaN  NaN  NaN   NaN       NaN    NaN
1   Open  NaN  NaN  NaN  NaN   NaN       NaN    NaN
2   High  NaN  NaN  NaN  NaN   NaN       NaN    NaN
3    Low  NaN  NaN  NaN  NaN   NaN       NaN    NaN
4  Close  NaN  NaN  NaN  NaN   NaN       NaN    NaN

# Extracting data using `pandas` library

In [19]:
read_html_pandas_data = pd.read_html(url)

Or we can convert the BeautifulSoup object to a string

In [20]:
read_html_pandas_data = pd.read_html(str(soup))

In [21]:
netflix_dataframe = read_html_pandas_data[0]

netflix_dataframe.head()

           Date    Open    High     Low  Close* Adj Close**     Volume
0  Jun 01, 2021  504.01  536.13  482.14  528.21      528.21   78560600
1  May 01, 2021  512.65  518.95  478.54  502.81      502.81   66927600
2  Apr 01, 2021  529.93  563.56  499.00  513.47      513.47  111573300
3  Mar 01, 2021  545.57  556.99  492.85  521.66      521.66   90183900
4  Feb 01, 2021  536.79  566.65  518.28  538.85      538.85   61902300